<div class="container">

  <div class="row">
      <div class="col-lg-12">
          <h1 class="page-header"><%= current_user.name %> 
              <small>the <%= @beer.adjective %></small>
          </h1>
      </div>
  </div>
  <div class="row">

    <div class="col-md-8">
        <img class="img-responsive img-pretty" src="<%= @beer.adj_image %>" alt="">
    </div>

    <div class="col-md-4">
        <h3>Your beer of choice is a <%= @beer.name %></h3>
        <p><%= @beer.description %></p>
       <!--  <h3>Project Details</h3> -->
        <div>
          <img class="beer_img" src="<%= @beer.beer_img %>">
        </div>
    </div>

  </div>
</div>


<div class="center_align">
    <a href="https://twitter.com/share" class="twitter-share-button" data-url="http://bit.ly/WhatsYourBeerPersonality" data-text="<%= @beer.twitter %> Find out your #BeerPersonality:" data-size="large">Tweet</a>
  <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');</script>
</div>

<div class="center_align">
  <div class="fb-share-button" data-href="https://beer-personality-test.herokuapp.com/home" data-layout="box_count" data-mobile-iframe="false"></div>
</div>

<div class="center_align">
  <br>
  <form method="post" action='/restart'>
      <input class="btn btn-primary btn-default" type="submit" value="Try Again?">
    </div>
  </form>
</div>










